.jpt3__brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.jpt3__brand div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 150px;
  min-width: 120px;
  margin: 1rem;
}
